
body {
  margin: 0;
  background-color: #0d0d40;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


Footer {
  background-color: #09092b;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.arrow-icon {
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s;
}

.arrow {
  display: inline-block;
  transform: rotate(-45deg);
  transition: transform 0.3s, margin-left 0.3s;
}

.arrow-icon:hover .arrow {
  margin-left: 5px;
}